<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<!-- DAO(Data Access Object)数据访问对象 -->

<mapper namespace="com.lsl.ssm.dao.ProviderMapper">
	<!-- 查询供应商表记录数 -->
	<select id="count" resultType="int">
		select count(1) as count from
		smbms_provider
	</select>
	
	<!-- 查询供应商列表 -->
	<select id="getProviderList" resultType="mProvider">
		select * from smbms_provider
	</select>
	
</mapper>
